body {
	font-family: 'Ubuntu', sans-serif;
    background: #111111 url(../img/bg.jpg) repeat-x fixed top center;
}

.row.main {
	margin-top: 40px;
	.panel {
		-webkit-box-shadow: 0px 0px 23px 0px rgba(124, 124, 124, 0.68);
		-moz-box-shadow:    0px 0px 23px 0px rgba(124, 124, 124, 0.68);
		box-shadow:         0px 0px 23px 0px rgba(124, 124, 124, 0.68);
	}
}


.primary-title {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 2px;
	word-spacing: 0em;
	line-height: 1.4;
}

.secondary-title {
	// color: #3F49BE !important;
}

.my-btn {
	text-transform: uppercase;
}

.contact-btns {
	font-size: 150%;
	a {
		display: inline-block;
		margin-right: 15px;
		margin-left: 15px;
		height: 64px;
		img {
			margin-right: 10px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}